body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7;
  background: #F2eee2;
}
/** HEADER **/
/*header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}*/
#header-nav {
  background: #43c0f6;
  color: white;
}

.glyphicon{
  top: 4px;
  color: #43c0f6;
}
#header-nav a{
  color: white;
}
.navbar-brand {
  padding-top: 15px;
  padding-bottom: 5px;
  height: 75px;
}
.logo{
  width: 7em;
  padding: 5px;
}
.navbar-brand h1{
  font-family: 'Lato',sans-serif;
  font-style: italic;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p {
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span {
  vertical-align: middle;
}

#nav-list {
  margin-top: 15px;
}
#nav-list a {
  text-align: center;
}
#nav-list a:hover {
  background: #badf7e;
  opacity: 1;
  border-radius: 5%;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #ffffff;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */
.main-header {
  margin-top: 85px;
}
h1, h2,nav{
  font-family: 'Lato', sans-serif;
}
.bg-white h1{
  font-size: 2em;
  text-align: center;
  color: #ff5992;
}
section h2{
  font-size: 1.7em;
  color: #ff5992;
}
h3{
  font-size: 1.2em;
  color: #841983;
  text-align: center;
  font-style: bold;
  text-transform: uppercase;
}
h4{
  font-size: 1em;
  font-weight: bold;
  color: #841983;
}
blockquote{
  margin-top: 25px;
  border-left: 10px solid #badf7e;
  display: grid;
  background-color: white;
}
.intro-site{
  display: flex;
}
.fixednav-spacing{
    margin-bottom: 45px;
}
.center-pic{
  display: block;
  margin: 20px auto;
}
.bg-image{
  background: url('../images/bg-t.jpg') no-repeat;
}
.footer-style{
  height:100px;
  background: #a4d555;
  text-align: center;
  color: hsl(262, 75%, 10%);
  margin-top: 100px;
}
.summary-deco{
  background-color: #badf7e;
  color: #53751d;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;
  outline: none;
}
.minor-detail{
  font-size: 0.8em;
}
section{
  border-radius: 5px;
}
/*section:nth-child(even) {
    background: hsl(0,1%,98%);
}*/
.bg-white{
  background-color: #F2eee2;
  border-radius: 5px;
  height: 100
  box-sizing: border-box;
}
.section-padding{
  padding: 0 25px;
}
.para-padding{
  padding: 0 5px;
}
.modal-padding{
  padding: 0 auto;
}
.modal-padding p{
  font-size: 0.8em;
}
.project-carousel{
  margin-top:10px;
}
.project-carousel figcaption{
  text-align: center;
  margin-top: 5px;
  font-weight: bold;
  color: #762d80;
}
.btn-basics {
  border: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 300;
  opacity: 0.9;
  box-shadow: 1px 1px 2px grey; }
.img-course {
  max-width: 100%;
  width: 200px;
  height: 100px;
  top: 0;
  left: 0;
  display: block;
  margin: auto;
  background: #FFF;
  border-radius: 5px;
  opacity: .8;
}
.img-modal {
  max-width: 100%;
  width: 300px;
  height: 400px;
  top: 0;
  left: 0;
  display: block;
  margin: auto;
  background: #FFF;
  border-radius: 5px;
  opacity: .8;
}
.img-wide{
  width: 500px;
  height: 300px;
}
.course-title-index{
  background-color: #badf7e;
  color: #53751d;
  text-transform: uppercase;
  height: 40px;
}
.panel-footer{
  background-color: #badf7e;
}
.box-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-view {
  background: #53751d;
  color:white;
}
.btn-view:hover,.btn-view:focus,.btn-view:active,.btn-view:visited{
  outline: none;
  color: white;
  background-color: #ff5992;
}
.course-thumbnail-button {
	width: 100%;
}
.modalDialog {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: rgba(0,0,0,0.8);
z-index: 99999;
opacity:0;
-webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
pointer-events: none;
}

.modalDialog:target {
opacity:1;
pointer-events: auto;
}

.modalDialog > div {
width: 80%;
height: 80%;
overflow: auto;
position: relative;
margin: 10% auto;
padding: 5px 20px 13px 20px;
border-radius: 10px;
background: #fff;
background: -moz-linear-gradient(#fff, #999);
background: -webkit-linear-gradient(#fff, #999);
background: -o-linear-gradient(#fff, #999);
}
.carousel.well{
  background-color: #8cf9e4;
}
.close {
background: #53751d;
line-height: 25px;
position: absolute;
right: 5px;
text-align: center;
top: 5px;
width: 24px;
text-decoration: none;
font-weight: bold;
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px;
-moz-box-shadow: 1px 1px 3px #000;
-webkit-box-shadow: 1px 1px 3px #000;
box-shadow: 1px 1px 3px #000;
opacity: 0.5;
}
#openModal{
z-index: 99999;
}
.close:hover {
  background: #53751d;
  opacity: 1;
}
#project1, #project2, #project3{
display: none;
}
.modal-content{
  background: white;
}
.project-imgs{
  height:400px;
}
.carousel-indicators li{
  background: #a4d555;
  border-color: hsl(262, 49%, 60%);
}
.carousel-indicators .active{
  background: #53751d;
}
.carousel-indicators{
  bottom: -10px;
}
.carousel-caption h3{
  color: black;
  font-size: 0.8;
  font-weight: bold;
}
/********** Large devices only **********/
@media (min-width: 1200px) {
  section,.bg-white{
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 35px;
  }
  li.tools:before{
    content: "* ";
    font-weight: bold;
  }
  li.tools{
    display: inline-block;
    margin-right: 5px;
  }
  .carousel-indicators{
    bottom: -10px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('../images/nivi-med.jpg') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 15px 5px 0;
  }
  /* End Header */
  section,.bg-white{
    max-width: 900px;
    margin: 0 auto;
  }
  li.tools:before{
    content: "* ";
    font-weight: bold;
  }
  li.tools{
    display: inline-block;
    margin-right: 5px;
  }
  .modalDialog > div {
    width:900px;
    max-height: 100%;
  }
  .carousel-indicators{
    bottom: -10px;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .main-header {
  margin-top: 85px;
}
  /* End Header */
  section, .bg-white{
    max-width: 700px;
    /*padding: 0 5px;*/
    margin: 0 auto;
  }
  li.tools:before{
    content: "* ";
    font-weight: bold;
  }
  li.tools{
    display: inline-block;
    margin-right: 5px;
  }
  .carousel-indicators{
    bottom: -10px;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .main-header {
  margin-top: 100px;
}
  .navbar-brand {
    padding-top: 10px;
    height: 65px;
  }
  .navbar-brand h1 {
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p {
    font-size: .6em;
    margin-top: 12px;
  }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu*/
    font-size: 1em;
    margin-right: 5px;
  }
  /* End Header */
  .fixednav-spacing{
      margin-bottom: 50px;
  }
  .projects{
    width: 100%;
  }
  .carousel-indicators{
    bottom: -10px;
  }
  .carousel-indicators li {
    width: 6px;
    height: 6px;
  }
  .carousel-indicators .active{
    width: 7px;
    height: 7px;
  }
  .intro-site{
    flex-wrap: wrap;
  }
}
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
  outline: none;
}
.bg-light-gray {
  background-color: #eeeeee;
  padding: 10px;
}
